<!DOCTYPE html>
<html>
<head>
    <title>Subjects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h1>SkillBridge</h1>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

<h1>Select a Subject</h1>

<div class="subjects-grid">

{% for subject in subjects %}

<div class="card">

<h2>{{ subject }}</h2>

<a href="/course/{{ subject }}">
    <button>Open Course</button>
</a>

</div>

{% endfor %}

</div>

</body>
</html>