<!DOCTYPE html>
<html>
<head>
<title>Select Subjects</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
<div class="card">

<h2>Select Your Subjects</h2>

<form method="POST">

<label><input type="checkbox" name="subjects" value="Math"> Math</label><br>
<label><input type="checkbox" name="subjects" value="Science"> Science</label><br>
<label><input type="checkbox" name="subjects" value="English"> English</label><br>
<label><input type="checkbox" name="subjects" value="History"> History</label><br>
<label><input type="checkbox" name="subjects" value="Computer Science"> Computer Science</label><br><br>

<button type="submit">Continue</button>

</form>

</div>
</div>

</body>
</html>